@import '../../assets/scss/_variables.scss';

body {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;

  .login {
    display: flex;
    flex-direction: column;
    margin: 25px;

    &__form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      > {
        span.default-name {}

        h1 {
          color: #5A81FA;
          font-size: 22px;
          font-weight: 600;
        }

        p {
          font-size: 14px
        }

        form {
          $borderRadiusSize: 12px;
          display: flex;
          flex-direction: column;
          gap: 15px;
          margin-top: 15px;

          >.control {
            display: flex;
            flex-direction: column;
            gap: 8px;

            >label {
              font-weight: 800;
              font-size: 14px;
            }

            >input {
              border: 1px solid #80899A;
              border-radius: $borderRadiusSize;
              padding: 8px $borderRadiusSize;
            }
          }

          span.forgotten-password {
            font-size: 14px;
            text-align: right;

            >a {
              color: $DSColorBLueSecundary2;
              text-decoration: none;
            }
          }

          button.btn-submit {
            border-radius: $borderRadiusSize;
            background-color: #464BA8;
            color: #fff;
            cursor: pointer;
            padding: 8px 10px;
            width: 100%;
            transition: filter .3s;

            &:hover {
              filter: brightness(80%);
            }
          }
        }
      }
    }

    &__banner {
      display: none;
    }
  }
  .error-message {
    color: red;
    font-size: 14px;
  }

  .help-btn {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    background-color: #464BA8;
    border-radius: 50%;
    text-align: center;
    bottom: 16px;
    left: 16px;
    z-index: 1000;
    box-shadow: 0 4px 4px #ccc;
    float: left;
    transition: filter .3s;
  }

  .help-btn:hover{
    filter: brightness(80%);
  }
  
  .help-btn a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
  }

  .help-div {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 280px;
    height: 170px;
    transform: translate(-50%, -50%);
    background-color: #fff; 
    z-index: 3000; 
    box-shadow: 0 4px 4px rgb(76, 76, 76);
    display: none;
    border-radius: 8px;
    font-size: 1rem;
  }

  .help-div.visible {
    display: block;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    display: none;
  }

  .overlay.visible {
    display: block;
  }
  
  .text-help {
    padding: 15px;
    text-align: justify;
    font-size: 14px;
  }

  .email {
    text-decoration: none;
    color: #464BA8;
  }

  .btn-back {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    width: 80px;
    height: 30px;
    background-color: #464BA8;
    margin-left: 98px;
    margin-top: 12px;
    text-decoration: none;
    padding-top: 8px;
    border-radius: 8px;
    box-shadow: 0 4px 4px #ccc;
    font-size: 14px;
  }

  .btn-back:hover {
    filter: brightness(80%);
  }
  
}

@media (min-width: #{$desktop-width}) {
  body {
    display: inline-block;

    .login {
      flex-direction: row;
      margin: 0;
      justify-content: space-between;
      height: 100vh;

      &__form {
        justify-content: center;
        margin: 0 auto;
        width: 300px;

        > {
          span.default-name {
            font-size: 28px
          }

          h1 {
            color: #5A81FA;
            font-size: 28px;
            font-weight: 600;
          }

          p {
            font-size: 16px
          }
        }
      }

      &__banner {
        display: block;
        max-width: 645px;

        >img {
          height: 100vh;
          width: 100%;
        }
      }
    }
  }
}