.team-members-list {
    margin-top: 10px;
    list-style: none;
  
    li {
      margin-top: 10px;
      display: flex;
      align-items: baseline;
  
      .avatar {
        width: 34px;
        height: 34px;
        margin-right: 10px;
      }
    }
  }
