.userName {
    color: #1F1F1F;
    font-weight: 600;
    margin-left: 70px;
    margin-top: 20px;
  }

  .analytics {
    position: relative;
  }
  
  .chatbox-container {
    position: relative;
    z-index: 1000;
  }

  .power-bi {
    background-color: #F8F9FD;
  }